body {
  height: 100vh;
  width: 100%;
  background-color: #27bcd4;
  overflow-y: scroll;
}

#contenedor {
  li {
    list-style: none;
    width: 100%;
    button {
      width: 100%;
      background-color: #094a54;
      color: white;
      border: none;
      margin: 2px;
    }
  }
}
