body {
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow-y: scroll;
}

#logo {
  width: 82px;
  margin-right: 11px;
}

.nickname {
  padding-left: 52px;
  padding-top: 1em;
  #nick {
    width: 174px;
    color: #000;
  }
  #start {
    background-color: red;
  }
}

#contenedor {
  li {
    list-style: none;
    width: 100%;
    button {
      width: 100%;
      background-color: #3e95c8;
      color: white;
      border: none;
      margin: 2px;
      font-size: 10px;
    }
  }
  #game-over {
    width: 233px;
    margin-left: 72px;
  }
  h3 {
    margin-left: 22px;
  }
  h4 {
    margin-left: 181px;
    padding-bottom: 1em;
  }
  a {
    #volver {
      background-color: red;
      color: #fff;
      margin-left: 84px;
    }
  }
}
